.react-sidebar {
    background: #fff;
    min-width: 250px;

    menu.nav-menu {
        padding:16px 24px;
        margin:0;
        font-size: 1.5rem;

        a {
            padding: 16px 12px;
            border-radius: 2px;
            display: block;
            color: #757575;
            text-decoration: none;
            transition: all 450ms cubic-bezier(.23,1,.32,1) 0ms;

            &:hover {
                background: rgba(0,0,0,.1);
                color: #333;
            }
        }
    }
}