.btn {
    display inline-block
}

.control-group
    &.checkbox
        label
            display flex

            input[type="checkbox"]
                margin-right 6px
    textarea
        height auto

.pivot-tabs .pivot-tabs-container div.pivot-tab button
    white-space nowrap

.pure-g [class*="pure-u"]
    padding-left 10px
    padding-right 10px
